
.w-40{
  width: 900px;

}
.w-30{
  width: 400px;
}
.task-container{
  height: 200px;
  overflow-y: scroll;
  background-color: pink;
}
.add-icon{
  height: 65px;
  cursor: pointer;
}
.task-container::-webkit-scrollbar{
  width: 8px;
}
.task-container::-webkit-scrollbar-track {
  background-color: rgb(243, 34, 34);
  border-radius: 15px;
}
.task-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #00d9ff;
}